<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.gt.mapper.RestaurantTagMapper">

    <!-- Result Map -->
    <resultMap id="RestaurantTagResultMap" type="com.ssafy.gt.domain.RestaurantTag">
        <id property="id" column="id"/>
        <result property="type" column="type"/>
    </resultMap>

    <!-- Select by ID -->
    <select id="selectById" parameterType="int" resultMap="RestaurantTagResultMap">
        SELECT * FROM restaurant_tags WHERE id = #{id}
    </select>

    <!-- Select All -->
    <select id="selectAll" resultMap="RestaurantTagResultMap">
        SELECT * FROM restaurant_tags
    </select>

</mapper>